<% include header %>
<article class="box post post-excerpt">
  <header>
    <h2><a href="/p/<%= post._id %>"><%= post.title %></a></h2>
    <% if (user && (user.name == post.name)) { %>
  <span><a class="edit" href="/edit/<%= post._id %>">Edit</a></span>
  <span><a class="edit" href="/remove/<%= post._id %>">Delete</a></span>
<% } %>
<% var flag = 1 %>
<% if (user && (user.name != post.name)) { %>
  <% if ((post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>
    <% flag = 0 %>
  <% } %>
  <% if ((post.reprint_info.reprint_to != undefined)) { %>
    <% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
      <% if (user.name == reprint_to.name) { %>
        <% flag = 0 %>
      <% } %>
    <% }) %>
  <% } %>
<% } else { %>
  <% flag = 0 %>
<% } %>
<% if (flag) { %>
  <span><a class="edit" href="/reprint/<%= post._id %>">reprint</a></span>
<% } %>
    <p>
      <% if(post.tags.length) { %>
      tags :
      <% } %>
      <% post.tags.forEach(function (tag, index) { %>
        <% if (tag) { %>
          <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
        <% } %>
      | 
      <% }) %>
      author : <a href="/u/<%= post.name %>"><%= post.name %></a> <a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a>
      <% if (post.reprint_info.reprint_from) { %>
      <br><a href="/p/<%= post.reprint_info.reprint_from._id %>">origin link</a>
      <% } %>
    </p>
  </header>
  <div class="info">
    <span class="date"><span class="month"><% var d = post.time.date; %><%= (d.getMonth() + 1) %><span>y</span></span> <span class="day"><%= d.getDate() %></span><span class="year">, <%= post.time.year %></span></span>
    <ul class="stats">
      <li><a href="#" class="icon fa-comment"><%= post.pv %></a></li>
      <li><a href="#" class="icon fa-comment"><%= post.comments.length %></a></li>
      <li><a href="#" class="icon fa-comment">
        <% if (post.reprint_info.reprint_to) { %>
          <%= post.reprint_info.reprint_to.length %>
        <% } else { %>
          <%= 0 %>
        <% } %></a>
      </li>
    </ul>
  </div>
  <p><%- post.post %></p>
</article>

<% include comment %>
<% include footer %>