<% include header %>

<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<link href="/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/umeditor.min.js"></script>
<script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js"></script>

<p>title :</p> <input type="text" name="title" value="<%= post.title %>" disabled="disabled" >
<% if(post.tags.length) { %>
    <p>tags :
    <% post.tags.forEach(function(tag, index){ %>
        <%= tag %>
    <% }); %>
<% } %>
<p>content : </p>
<script type="text/plain" id="myEditor" style="width:1000px;height:240px;">
   	<%- post.post %>
</script>

<button class="btn" onclick="sendData()">submit</button>

<script type="text/javascript">
var um = UM.getEditor('myEditor');
function sendData() {
	var url = '/edit/<%= post._id %>';
    $.post(url, {title : $('[name=title]').val()?$('[name=title]').val():'test',post : UM.getEditor('myEditor').getContent()}, function(ret){
        if(!ret)
        {
            alert('Edit error');
            return;
        }

        if(ret.code == 1)
        {
        	var gourl = '/p/<%= post._id %>';
            location.href = gourl;
            return;
        }
        else {
            alert(ret.message);
        }
    });
}

</script>

<% include footer %>