<% include header %>
<% posts.forEach(function (post, index) { %>
  <p>
  	<h2><a href="/p/<%= post._id %>"><%= post.title %></a></h2>
  	<a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a>
  </p>
  <p class="info">
	author : <a href="/u/<%= post.name %>"><%= post.name %></a> | 
	date : <%= post.time.minute %> 
	<% if(post.tags.length) { %>
	| 
	tags :
	<% } %>
	<% post.tags.forEach(function (tag, index) { %>
		<% if (tag) { %>
			<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
		<% } %>
	<% }) %>
	
<% if (post.reprint_info.reprint_from) { %>
<br><a href="/p/<%= post.reprint_info.reprint_from._id %>">origin link</a>
<% } %>
</p>
  <p><%- post.post %></p>
<p class="info">
  views : <%= post.pv %> | 
  comments : <%= post.comments.length %> | 
  reprint : 
  <% if (post.reprint_info.reprint_to) { %>
    <%= post.reprint_info.reprint_to.length %>
  <% } else { %>
    <%= 0 %>
  <% } %>
</p>
<% }) %>
<% include paging %>
<% include footer %>